<ion-app>

    <ion-menu contentId="main-content" type="overlay">
        <ion-header class="ion-text-center margen">
            <ion-row class="ion-justify-content-center">
                <ion-col size="3">
                    <div>
                        <ion-avatar>
                            <img src="https://thumbs.dreamstime.com/b/icono-de-la-nave-espacial-en-dise%C3%B1o-plano-ilustraci%C3%B3n-83387127.jpg">
                        </ion-avatar>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <ion-label>
                        <h1> {{authService.getUser() ? authService.getUser().full_name : ''}} </h1>

                    </ion-label>
                </ion-col>
            </ion-row>


        </ion-header>

        <ion-content>

            <ion-list id="inbox-list">
                <ion-menu-toggle auto-hide="false" *ngFor="let pages of authService.getPages(); let i = index">
                    <ion-item (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]" detail="false" [class.selected]="activeIndex == i">
                        <ion-icon slot="start" [ios]="pages.icon + '-outline'" [md]="pages.icon + '-sharp'"></ion-icon>
                        <ion-label>{{ pages.title }}</ion-label>
                    </ion-item>
                </ion-menu-toggle>


            </ion-list>

            <ion-item>
                <ion-icon slot="start" name="moon"></ion-icon>
                <ion-label>Toogle Dark Mode</ion-label>
                <ion-toggle slot="end" (ionChange)="change($event)" [(ngModel)]="darkMode"></ion-toggle>
            </ion-item>

            <ion-item button (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-label>Cerrar Sesion</ion-label>
            </ion-item>
        </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>


</ion-app>